<% var isNew = typeof calEvent.get("title") === 'undefined'; %>
<% var title = (isNew ? "Create new event" : calEvent.get("title")); %>
<% var inputTitle = (isNew ? "Untitled event" : calEvent.get("title")); %>
<% var description = (isNew ? "" : calEvent.get("description")); %>
<% var selectTimeZone = (isNew ? calTimeZone : calEvent.get('time_zone')); %>
<% var location = (isNew ? "" : calEvent.get("location")) %>
<% var buttonText = (isNew ? "Create event" : "Edit event") %>
<% var submitId = (isNew ? "create-event" : "update-event"); %>

<h1><%= title %></h1>


<form>
  <div id="new-event-form" class="form-box">
    <div class="form-column">
      <div class="form-row">
        <label>Title</label>
        <input type="text" class="ui-widget-content ui-corner-all" name="cal_event[title]" value="<%= inputTitle %>">
      </div>

      <div class="form-row">
        <label>Description</label>
        <textarea
        class="ui-widget-content ui-corner-all"
          name="cal_event[description]"><%= description %></textarea>
      </div>

      <div class="form-row">
        <label>Location</label>
        <input
          class="ui-widget-content ui-corner-all"
          type="text"
          name="cal_event[location]"
          value="<%= location %>">
      </div>
    </div>

    <div class="form-column">
      <div class="date-selects">
        <div class="form-row">
          <label>Start date</label>
          <input
            id="start-date"
            name="cal_event[start_date][date]"
            class="datepicker date ui-widget-content ui-corner-all"
            value="<%= calEvent.startDateString() %>">


          <input
            type="time"
            name="cal_event[start_date][time]"
            id="start-time"
            class="time ui-widget-content ui-corner-all"
            value="<%= calEvent.startTimeString() %>">
        </div>

        <div class="form-row">
          <label>End date</label>
          <input
            id="end-date"
            name="cal_event[end_date][date]"
            class="datepicker date ui-widget-content ui-corner-all"
            value="<%= calEvent.endDateString() %>">

          <input
            type="time"
            name="cal_event[end_date][time]"
            id="end-time"
            class="time ui-widget-content ui-corner-all"
            value="<%= calEvent.endTimeString() %>">
        </div>
      </div>
      <div class="form-row all-day">
        <% var checked = (calEvent.get("allDay") ? "checked" : "") %>
        <input
          id="all-day"
          class="ui-widget-content ui-corner-all"
          type="checkbox"
          name="cal_event[all_day]"
          value="true" <%= checked %>>All day?

      </div>


      <div class="form-row">
        <label>Timezone</label>
        <select name="cal_event[time_zone]">
          <% _(TIME_ZONES).each(function (timeZone) { %>
            <% var name = timeZone.name %>
            <% var selected = (selectTimeZone == name ? "selected" : "") %>
            <option value="<%= name %>" <%= selected %>><%= name %></option>
          <% }); %>
        </select>
      </div>

      <div class="form-row">
        <label>Calendar</label>
        <select name="cal_event[calendar_id]">
          <% _(calendarSelect).each(function (calendar) { %>
            <% var calSelect = (calTitle === calendar.title ? "selected" : "") %>
            <% var calendarId = (_(calendar).has("calendar_id") ? calendar.calendar_id : calendar.id) %>
            <option value="<%= calendarId %>" <%= calSelect %>><%= calendar.title %></option>
          <% }); %>
        </select>
      </div>
    </div>
  </div>

  <input type="submit" value="<%= buttonText %>" id="<%= submitId %>"  class="button-lrg">
</form>


<script type="text/javascript">
$(document).ready(function(){
  $("#start-date").datepicker({
    onClose: function () {
      if (new Date($(this).val()) > new Date($("#end-date").val())) {

       $("#end-date").val($(this).val());
      }
    }
  });

  $("#end-date").datepicker({
    onClose: function () {
      if (new Date($(this).val()) < new Date($("#start-date").val())) {
       $("#start-date").val($(this).val());
      }
    }
  });

  $('#start-time').timepicker({
    stepMinute: 5,
    onClose: function () {
      var startDate = new Date($("#start-date").val() + " " +  $(this).val());
      var endDate = new Date($("#end-date").val() + " " + $("#end-time").val());

      if (startDate > endDate) {
        var timeString = ((startDate.getHours() + 1) % 24) + ":" + startDate.getMinutes();

        timeString = (timeString.length < 5 ? "0".concat(timeString) : timeString);
        $("#end-time").val(timeString);
      };
    }
  });

  $('#end-time').timepicker({
    stepMinute: 5,
    onClose: function () {
      var startDate = new Date($("#start-date").val() + " " +  $("#start-time").val());
      var endDate = new Date($("#end-date").val() + " " + $(this).val());

      if (startDate > endDate) {
        var timeString = ((endDate.getHours() + 23) % 24) + ":" + endDate.getMinutes();

        timeString = (timeString.length < 5 ? "0".concat(timeString) : timeString);
        $("#start-time").val(timeString);
      };
    }
  });

  var storedStartTime, storedEndTime;
  var toggleTimesOff = function () {
    storedStartTime = $("#start-time").val();
    storedEndTime = $("#end-time").val()
    $("#start-time").val("00:00").toggle();
    $("#end-time").val("23:59").toggle();
  };

  if ($("#all-day").prop("checked") === true) toggleTimesOff();

  $("#all-day").change(function () {
    if ($("#all-day").prop("checked") === true) {
      toggleTimesOff();
    }
    else {
      $("#start-time").val(storedStartTime).toggle();
      $("#end-time").val(storedEndTime).toggle();
    }
  });

  $("#form-views").dialog({
    beforeClose: function () {
      $("#form-views").empty();
      $("#form-views").unbind();
    },
    modal: true,
    width: "auto"
  });
});
</script>