<% var isNew = typeof calEvent.get("title") === 'undefined'; %>
<% console.log(isNew); %>
<% var title = (isNew ? "Create new event" : ""); %>
<% var inputTitle = (isNew ? "Untitled event" : calEvent.get("title")); %>
<% var description = (isNew ? "" : calEvent.get("description")); %>
<% var selectTimeZone = (isNew ? eventsCal.get('time_zone') : calEvent.get('time_zone')); %>
<% var location = (isNew ? "" : calEvent.get("location")) %>
<% var buttonText = (isNew ? "Create event" : "Edit event") %>
<% var submitId = (isNew ? "create-event" : "update-event"); %>

<h1><%= title %></h1>

<div id="new-event-form" class="form-box">
  <form>

    <div class="form-row">
      <label>Title</label>
      <input type="text" class="ui-widget-content ui-corner-all" name="cal_event[title]" value="<%= inputTitle %>">
    </div>

    <div class="form-row">
      <label>Start date</label>
      <input
        name="cal_event[start_date][date]"
        class="datepicker date ui-widget-content ui-corner-all"
        value="<%= calEvent.startDateString() %>">


      <input
        type="time"
        name="cal_event[start_date][time]"
        class="time ui-widget-content ui-corner-all"
        value="<%= calEvent.startTimeString() %>">
    </div>

    <div class="form-row">
      <label>End date</label>
      <input
        name="cal_event[end_date][date]"
        class="datepicker date ui-widget-content ui-corner-all"
        value="<%= calEvent.endDateString() %>">

      <input
        type="time"
        name="cal_event[end_date][time]"
        class="time ui-widget-content ui-corner-all"
        value="<%= calEvent.endTimeString() %>">
    </div>

    <div class="form-row">
      <label>All day?</label>
      <% var checked = (!isNew && calEvent.get("all_day") ? "checked" : "") %>
      <input
        class="ui-widget-content ui-corner-all"
        type="checkbox"
        name="cal_event[all_day]"
        value="true" <%= checked %>>
    </div>

    <div class="form-row">
      <label>Timezone</label>
      <select name="cal_event[time_zone]">
        <% _(TIME_ZONES).each(function (timeZone) { %>
          <% var name = timeZone.name %>
          <% var selected = (selectTimeZone == name ? "selected" : "") %>
          <option value="<%= name %>" <%= selected %>><%= name %></option>
        <% }); %>
      </select>
    </div>

    <div class="form-row">
      <label>Calendar</label>
      <select name="cal_event[calendar_id]" class="ui-widget-content ui-corner-all">
        <% GCalClone.myCalendars.each(function (calendar) { %>
          <% var calTitle = eventsCal.get('title') %>
          <% var calSelect = (calTitle === calendar.get('title') ? "selected" : "") %>
          <option value="<%= calendar.id %>" <%= calSelect %>><%= calendar.get("title") %></option>
        <% }); %>
      </select>
    </div>

    <div class="form-row">
      <label>Description</label>
      <textarea
      class="ui-widget-content ui-corner-all"
        name="cal_event[description]"><%= description %></textarea>
    </div>

    <div class="form-row">
      <label>Location</label>
      <input
        class="ui-widget-content ui-corner-all"
        type="text"
        name="cal_event[location]"
        value="<%= location %>">
    </div>

    <input type="submit" value="<%= buttonText %>" id="<%= submitId %>"  class="button-lrg">
  </form>
</div>

<script type="text/javascript">
  $(document).ready(function(){
      $(".datepicker").datepicker();

      $("#form-views").dialog({
        modal: true,
        width: "auto"
      });
  });
</script>