<h1><%= calEvent.get("title") %></h1>

<h4><%= calEvent.displayEventTime(calEvent.get("start"), calEvent.get("end")) %></h4>
<table class="show">
  <tr>
    <td class="label"><strong>Where</strong></td>
    <td><%= calEvent.get("location") %></td>
  </tr>
  <tr>
    <td class="label"><strong>Calendar</strong></td>
    <td><%= calendarShare.get("title") %></td>
  </tr>
  <tr>
    <td class="label"><strong>Description</strong></td>
    <td><%= calEvent.get("description") %></td>
  </tr>
</table>
<form>
  <div class="form-row">
    <label>Show me as</label>
    <% var freeChecked = (calEvent.get("availability") == "free" ? "checked" : "") %>
    <% var busyChecked = (calEvent.get("availability")  == "busy" ? "checked" : "") %>
    <input
      type="radio"
      name="availability"
      value="free"
      <%= freeChecked %>><span class="radio">Free</span class="radio">
    <input
      type="radio"
      name="availability"
      value="busy"
      <%= busyChecked %>><span class="radio">Busy</span class="radio">
  </div>

  <input type="submit" value="Save" id="update-availability"  class="button-lrg">
</form>

<script>
$(document).ready(function () {
  $("#form-views").dialog({
    beforeClose: function () {
      $("#form-views").empty();
      $("#form-views").unbind();
    },
    modal: true,
    width: "auto"
  });
});
</script>