<% provide(:title, "Sign in") %>
<h1>Sign In</h1>

<div class="form-box">
  <%= form_for(:user, url: session_url) do |f| %>

    <div class="form-row">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="form-row">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <%= f.submit "Sign in", class: "button-lrg button" %>
  <% end %>

  <p>Not a user? <%= link_to "Sign up",new_user_url %>.</p>
</div>

<form action="<%= session_url %>" method="POST" accept-charset="utf-8">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input type="hidden" name="user[email]" value="angelo@example.com">

  <input type="hidden" name="user[password]" value="password">

  <input id="demo-button" type="submit" value="Demo" class="button-lrg">
</form>

