<% var isNew = typeof calendar === 'undefined'; %>
<% var title = (isNew ? "Create a new " : calendar.get("title")); %>
<% var inputTitle = (isNew ? "" : calendar.get("title")); %>
<% var description = (isNew ? "" : calendar.get("description")); %>
<% var selectTimeZone = (isNew ? GCalClone.currentUser.get("time_zone") : calendar.get('time_zone')); %>
<% var elId = (isNew ? "create-calendar" : "update-calendar"); %>
<% var buttonText = (isNew ? "Create" : "Save") %>

<h1><%= title %> calendar</h1>

<div class="calendar-form">
  <form>
    <div class="form-block">
      <div class="form-row">
        <label>Title</label>
        <input

          type="text"
          name="calendar[title]"
          value="<%= inputTitle %>">
      </div>

      <div class="form-row">
        <label>Timezone</label>
        <select name="calendar[time_zone]" id="cal-settings-timezone">
          <% _(TIME_ZONES).each(function (timeZone) { %>
            <% var name = timeZone.name %>
            <% var selected = (selectTimeZone == name ? "selected" : "") %>
            <option value="<%= name %>" <%= selected %>><%= name %></option>
          <% }); %>
        </select>
      </div>
    </div>

    <div class="form-row">
      <label>Description</label>
      <textarea
        name="calendar[description]"><%= description %></textarea>
    </div>

    <div class="form-row-buttons">
      <input type="submit" value="<%= buttonText %>" id="<%= elId %>" class="button-lrg">
    </div>
  </form>
  <div class="form-row-buttons">
    <input
        type="submit"
        id="delete-calendar"
        value="Delete"
        data-id="<%= calendar.id %>"
        class="button-lrg delete">
  </div>
</div>

<script>
$(document).ready(function () {
  $("#form-views").dialog({
    beforeClose: function () {
      $("#form-views").empty();
      $("#form-views").unbind();
    },
    modal: true,
    width: "auto"
  });
});
</script>