<a href="#/" class="back">Back to Calendar</a>

<h1>Your Settings</h1>

<div class="form-box">
  <form>
    <div class="form-row">
      <label>Email</label>
      <input type="text" name="user[email]" value="<%= user.get("email") %>">
    </div>

    <div class="form-row">
      <label>First name</label>
      <input
        type="text"
        name="user[first_name]"
        value="<%= user.get("first_name") %>">
    </div>

    <div class="form-row">
      <label>Last name</label>
      <input type="text"
        name="user[last_name]"
        value="<%= user.get("last_name") %>">
    </div>

    <div class="form-row">
      <label>Default Calendar</label>
      <select name="user[default_calendar_id]">
        <% GCalClone.myCalendars.each(function (calendar) { %>
          <% var calId = user.get('default_calendar_id') %>
          <% var calSelect = (calId === calendar.get('id') ? "selected" : "") %>
          <option value="<%= calendar.id %>" <%= calSelect %>><%= calendar.get("title") %></option>
        <% }); %>
      </select>
    </div>

    <div class="form-row">
      <label>Timezone</label>
      <select name="user[time_zone]" class="select-drop-down">
        <% _(TIME_ZONES).each(function (timeZone) { %>
          <% var tzName = timeZone.name %>
          <% var selected = (user.get("time_zone") == tzName ? "selected" : "") %>
          <option value="<%= tzName %>" <%= selected %>><%= tzName %></option>
        <% }); %>
      </select>
    </div>

    <div class="form-row">
      <label>Password</label>
      <input type="password" name="user[password]">
    </div>

    <div class="form-row">
      <label>Password Confirmation</label>
      <input type="password" name="user[password_confirmation]">
    </div>

    <input type="submit" value="Save changes" id="update-user" class="button-lrg">
  </form>
</div>