<% var isAvailabilityShare = (typeof calendar.id == "undefined") %>
<% var calClass = (isTop ? "cal-settings" : "cal-share-settings") %>
<% calClass = (isAvailabilityShare ? "availability-calendar-settings" : calClass) %>
<% var calendarId = (typeof calendarId == "undefined" ? calendar.id : calendarId) %>
<% var canEdit = (typeof calendar.get("can_edit_events") == "undefined" || calendar.get("can_edit_events")) %>


<ul class="drop-down">
  <li><a class="menu display-only" href="#" data-id="<%= calendarId %>">Display just this Calendar</a></li>
  <li><a class="menu <%= calClass %>" href="#" data-id="<%= calendarId %>">Calendar Settings</a></li>
  <% if (canEdit) { %>
    <li><a class="menu new-cal-event" data-id="<%= calendarId %>" href="#">Add event to this Calendar</a></li>
  <% } %>
  <li class="color-select">
    <a class="menu" href="#">Change color of Calendar</a>
    <ul class="drop-down color-drop-down">
      <% _(COLORS).each(function (color) { %>
        <li
          class="color color-option"
          data-color="<%= color %>"
          data-id="<%= calendarId %>"
          data-calendartype="<%= calClass %>"></li>
      <% }) %>
    </ul>
  </li>
</ul>

<script>
$(".color-drop-down > .color-option").each(function() {
  $el = $(this);
  $el.css("background", function () {
    return $el.data("color");
  });
});
</script>