<h1><%= calendarShare.get("title") %></h1>

<div class="form-box">
  <form>

    <div class="form-row">
      <label>Title</label>
      <input type="text" name="calendar_share[title]" value="<%= calendarShare.get("title") %>">
    </div>

    <div class="form-row">
      <label>Description</label>
      <textarea
        name="calendar_share[description]"><%= calendarShare.get("description") %></textarea>
    </div>

    <div class="form-row">
      <label><strong>Owner Email</strong></label>
      <p><%= calendarShare.get("owner_email") %></p>
    </div>

    <div class="form-row">
      <label><strong>Calendar Time Zone</strong></label>
      <p><%= calendarShare.get("calendar_time_zone") %></p>
    </div>

    <input type="submit" value="Save changes" id="update-calendar-share" class="button-lrg">
  </form>
</div>

<input
  type="submit"
  id="unsubscribe-to-calendar"
  value="Unsubscribe"
  data-id="<%= calendarShare.id %>"
  class="button-lrg">

<script>
$(document).ready(function () {
  $("#form-views").dialog({
    beforeClose: function () {
      $("#form-views").empty();
      $("#form-views").unbind();
    },
    modal: true,
    width: "auto"
  });
});
</script>
