<ul id="<%= dayId %>" class="days-agenda">
  <li>
    <ul class="agenda-day">
      <li class="agenda-day-number"><%= calEvent.startDayOfMonth() %></li>
      <li class="agenda-month"><%= calEvent.startMonth() %></li>
    </ul>
  </li>
  <li>
    <ul class="all-day-events">
      <% if (calEvent.allDay()) { %>
        <%= JST['calendars/agenda/all_day_event']({ calEvent: calEvent }) %>
      <% };  %>
    </ul>
  </li>
  <li class="events">
    <% if (!calEvent.allDay()) { %>
      <%= JST['calendars/agenda/new_event']({ calEvent: calEvent }) %>
    <% };  %>
  </li>
</ul>