<header class="nav-bar">
  <%= link_to "MyCal", root_url, id: "logo" %>
  <ul class="nav-pin-right">
    <% if signed_in? %>
      <li id="account"><%= current_user.email %>
        <ul class="drop-down">
          <li><%= link_to "Settings", "#/user_settings", class: "menu" %></li>
          <li>
            <%= link_to "Sign out",
              session_url,
              method: :delete,
              class: "menu" %>
          </li>
        </ul>
      </li>
    <% else %>
      <li><%= link_to "Sign in", new_session_url unless current_page?(new_session_url)%></li>
    <% end %>
  </ul>
</header>